<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onClickNavBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <img src="assets/imgs/logo-veridoc.svg" />
    <ion-buttons slot="end">
      <ion-button *ngIf="!isLoggedIn" fill="solid" color="success" (click)="onClickGetStarted()">Get Started</ion-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="verify-progress-indicator-container">
    <div class="verify-progress-header">
      <p>
        Verify your documents in Just 3 steps
      </p>
    </div>
  
    <div class="verify-progress-indicator">
      <div [class]="initVerifyStep>=1?'verify-progress-active-step': 'verify-progress-inactive-step'">1</div>
      <div class="verify-progress-connector"></div>
      <div [class]="initVerifyStep>=2?'verify-progress-active-step': 'verify-progress-inactive-step'">2</div>
      <div class="verify-progress-connector"></div>
      <div [class]="initVerifyStep>=3?'verify-progress-active-step': 'verify-progress-inactive-step'">3</div>
    </div>
  </div>

  <div id="verify-progress-main-content">
    <div [ngSwitch]="initVerifyStep">
      <div *ngSwitchCase="1">
        <ion-item>
          <ion-label>Category</ion-label>
          <ion-select [(ngModel)]="requestCategory">
            <ion-select-option *ngFor="let category of arrCategories; let i = index;" [value]="i">
              {{category}}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <app-multi-file-upload [draftFiles]="draftFiles"></app-multi-file-upload>
        <ion-item>
          <ion-label position="stacked">Comments</ion-label>
          <ion-textarea [(ngModel)]="strComment"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Queries</ion-label>
          <ion-textarea [(ngModel)]="strQuery"></ion-textarea>
        </ion-item>

        <ion-item lines="none">
          <ion-checkbox slot="start" [(ngModel)]="isRequestBehalf"></ion-checkbox>
          <ion-label>Request on behalf of</ion-label>
        </ion-item>

        <!-- Behalf request fields -->
        <ion-item-group *ngIf="isRequestBehalf">
          <ion-item>
            <ion-input type="text" [(ngModel)]="behalfofname" placeholder="Name" required=true></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="text" [(ngModel)]="behalfofrelation" placeholder="Relation" required=true></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Birthday</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="behalfofbod" pickerFormat="DD MMMM YYYY"></ion-datetime>
          </ion-item>

          <div class="experts-review-gender">
            <div (click)="onChangeGender('m')">
              <img [src]="behalfofgender=='m'?'assets/icons/icon-checkbox.svg': 'assets/icons/icon-checkbox-inactive.svg'" />
              <span>Male</span>
            </div>
            <div (click)="onChangeGender('f')">
              <img [src]="behalfofgender=='f'?'assets/icons/icon-checkbox.svg': 'assets/icons/icon-checkbox-inactive.svg'" />
              <span>Female</span>
            </div>
          </div>

          <ion-item>
            <ion-input type="text" [(ngModel)]="behalfofcountry" placeholder="Country and State" required=true></ion-input>
          </ion-item>
        </ion-item-group>
      </div>
      <div *ngSwitchCase="2" class="verify-progress-new-user">
        <form [formGroup]="secondStepForm">
          <ion-item>
            <ion-label position="stacked">First name</ion-label>
            <ion-input formControlName="fname" type="text"></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-label position="stacked">Last name</ion-label>
            <ion-input formControlName="lname" type="text"></ion-input>
          </ion-item>

          <!-- Birthdate -->
          <ion-item>
            <ion-label>BOD</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" formControlName="dob" pickerFormat="DD MMMM YYYY"></ion-datetime>
          </ion-item>
    
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-label position="stacked">Username</ion-label>
            <ion-input formControlName="username" type="text"></ion-input>
          </ion-item>
    
          <ion-item *ngIf="!isLoggedIn">
            <ion-label position="stacked">Password</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
        </form>
        <ng-container *ngIf="isRequestBehalf">
          <ion-item-group>
            <ion-item-divider>
              Request Behalf
            </ion-item-divider>

            <ion-item>
              <ion-label position="stacked">Name</ion-label>
              <ion-input type="text" [(ngModel)]="behalfofname" disabled=true></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Relation</ion-label>
              <ion-input type="text" [(ngModel)]="behalfofrelation" disabled="true"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Birthday</ion-label>
              <ion-input type="text" [(ngModel)]="behalfofbod" disabled=true></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Gender</ion-label>
              <ion-input type="text" disabled=true [value]="behalfofgender=='m'?'Male': 'Female'"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Country</ion-label>
              <ion-input type="text" disabled=true [(ngModel)]="behalfofcountry"></ion-input>
            </ion-item>
          </ion-item-group>
        </ng-container>
      </div>
      <div *ngSwitchCase="3" class="verify-progress-payment">
        <div id="verify-progress-paymentopt-container">
          <div *ngFor="let payment of arrPaymentopts; let i = index;">
            <div [class]="selectedPaymentOpt==i?'paymentopt-img-container active-payment': 'paymentopt-img-container inactive-payment'">
              <img [src]="payment.image" (click)="onChangePaymentOption(i)"/>
            </div>
          </div>
        </div>

        <div id="verify-progress-paymentopt-fields">
          <form [formGroup]="paymentOptForm">
            <ion-item>
              <ion-label floating>Account HolderName</ion-label>
              <ion-input formControlName="accountholdername" type="text"></ion-input>
            </ion-item>
  
            <ion-item>
              <ion-label floating>Account Number</ion-label>
              <ion-input formControlName="accountnumber" type="text"></ion-input>
            </ion-item>
  
            <ion-item>
              <ion-label floating>IFSC code</ion-label>
              <ion-input  formControlName="ifsccode" type="text"></ion-input>
            </ion-item>
  
            <ion-item>
              <ion-label floating>Bank Name</ion-label>
              <ion-input formControlName="bankname" type="text"></ion-input>
            </ion-item>
  
            <ion-item>
              <ion-label floating>Bank Address</ion-label>
              <ion-input formControlName="bankaddress" type="text"></ion-input>
            </ion-item>
          </form>
        </div>
      </div>
    </div>
  
    <div id="verify-progress-controllers">
      <div>
        <ion-button color="hardmedium" (click)="onClickBack()">Back</ion-button>
      </div>
      <div *ngIf="initVerifyStep==1">
        <ion-button (click)="onClickSave()">Save</ion-button>
      </div>
      <div *ngIf="initVerifyStep==2 && !isLoggedIn">
        <ion-button (click)="onClickSignup()">Sign Up</ion-button>
      </div>
      <div>
        <ion-button color="success" (click)="onClickNext()">
          {{initVerifyStep==3?'Finish': 'Next'}}
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
