<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="onClickNavBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>My Requests</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClickFilterBtn()">
        <ion-icon src="assets/icons/icon-custom-filter.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="request-list-header">
    <div id="request-list-viewtype">
      <div id="request-btn-listview" [class]="selectedView==0?'active-viewtype': 'inactive-viewtype'" (click)="onClickViewType(0)">
        <img [src]="selectedView==0?'assets/icons/icon-list-active.svg':'assets/icons/icon-list-inactive.svg'" />
        <p>
          List
        </p>
      </div>
      <div id="request-btn-gridview" [class]="selectedView==1?'active-viewtype': 'inactive-viewtype'" (click)="onClickViewType(1)">
        <img [src]="selectedView==1?'assets/icons/icon-grid-active.svg':'assets/icons/icon-grid-inactive.svg'" />
        <p>
          Grid
        </p>
      </div>      
    </div>
    <div id="request-list-newrequest">
      <ion-button (click)="onClickNewRequest()">Get Experts Review</ion-button>
    </div>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col [size]="gridcount" *ngFor="let request of arrMyRequests; let i = index;">
        <div class="request-item" (click)="onClickRequest(i)">
          <div class="request-item-header">
            <div>
              {{request.createdAt | doctime: false}}
            </div>
            <div>
              <span [class]="'status-' + request.status">
                {{arrStatus[request.status]}}
              </span>
            </div>
          </div>
          <div class="request-item-body">
            <p>
              {{arrCategories[request.category]}}
            </p>
            <p>
              Comment: {{request.comments}}
            </p>
            <p>
              Query: {{request.queries}}
            </p>
            <ion-item lines="none" (click)="onToggleViewAttachment($event, i)">
              <ion-icon *ngIf="!request.expandattachment" name="arrow-dropright"></ion-icon>
              <ion-icon *ngIf="request.expandattachment" name="arrow-dropdown"></ion-icon>
              <ion-label>View Attachments</ion-label>
            </ion-item>
            <ion-list *ngIf="request.expandattachment" no-padding>
              <div *ngFor="let file of request.files">
                <p (click)="onClickAttachments($event, file.filename)">
                  {{file.filename}}
                </p>
              </div>
            </ion-list>
            <div class="request-detail" *ngIf="request.expanded">
              <!-- Initialize request -->
              <div class="request-detail-time">
                <div class="request-detail-indicator status-1"></div>
                <p>
                  {{request.createdAt | doctime: true}}
                </p>
              </div>
              <div class="request-detail-main">
                <p>
                  Request Initialized
                </p>
                <p>
                  {{request.comments}}
                </p>
              </div>
  
              <!-- Complete request -->
              <ng-container *ngIf="request.status == 3 || request.status == 4">
                  <div class="request-detail-time">
                    <div class="request-detail-indicator status-3"></div>
                    <p>
                      {{request.updatedAt | doctime: true}}
                    </p>
                  </div>
                  <div class="request-detail-main">
                    <p>
                      {{arrStatus[request.status]}}
                    </p>
                    <p>
                      {{request.comments}}
                    </p>
                  </div>
              </ng-container>
            </div>
          </div>
          <div class="request-item-footer">
            <ng-container [ngSwitch]="request.status">
              <div *ngSwitchCase="0" class="request-item-footer-controls">
                  <span (click)="onClickRequestAction($event, 0, i)">Complete your request</span>
              </div>
              <div *ngSwitchCase="2" class="request-item-footer-controls">
                  <span (click)="onClickRequestAction($event, 1, i)">Take action</span>
              </div>
              <div *ngSwitchCase="3" class="request-item-footer-controls">
                  <span (click)="onClickRequestAction($event, 2, i)">Need Clarification</span>
                  <span (click)="onClickRequestAction($event, 3, i)">Close Request</span>
                  <span (click)="onClickRequestAction($event, 4, i)">Not Satisfied</span>
              </div>
              <div *ngSwitchCase="4">
                  <span (click)="onClickRequestAction($event, 5, i)">Re open</span>
              </div>
            </ng-container>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
