ion-footer {
    ion-title {
        text-align: center;
    }
}

// ion-content {
//     --background: var(--ion-color-light);
// }

#request-list-newrequest {
    flex: 1;
    width: 100%;
    padding: 16px 16px 0 16px;
    text-align: right;
}

#request-list-header {
    display: flex;
}

#request-list-viewtype {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 16px 16px 0 16px;
}

#request-btn-listview, #request-btn-gridview {
    padding: 10px 12px;
    display: flex;
    justify-content: center;
    margin-left: 1px;
    cursor: pointer;
    img {
        width: 20px;
    }

    p {
        margin: 0 0 0 4px;
    }
}

.active-viewtype {
    background-color: #666;
    p {
        color: white;
    }
}

.inactive-viewtype {
    background-color: #cecece;
    p {
        color: #252525;
    }
}

.request-item {
    background-color: #fff;
    box-shadow: 0 0 8px #bdbdbd;
    border-radius: 4px;
}

.request-item-header {
    display: flex;
    padding: 8px 16px;
    background-color: #eaeaea;
    align-items: center;
    p {
        flex: 1;
        margin: 0;
        color: #272727;
        padding: 4px 0;
    }

    div {
        flex: 1;
        text-align: right;
        span {
            padding: 6px;
            background-color: #ff6328;
            color: white;
            border-radius: 4px;
            box-shadow: 0 2px 2px #a9a9a9;
        }
    }
}

.request-item-body {
    padding: 16px;
    p {
        margin: 4px 0;
        color: #4e4e4e;
    }
}

.request-item-footer {
    div {
        text-align: right;
        padding: 0 16px 16px;
    }
}