<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="onClickNavBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>My Requests</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClickFilterBtn()">
        <ion-icon src="assets/icons/icon-custom-filter.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="request-list-header">
    <div id="request-list-viewtype" *ngIf="!isMobile">
      <div id="request-btn-listview" [class]="selectedView==0?'active-viewtype': 'inactive-viewtype'" (click)="onClickViewType(0)">
        <img [src]="selectedView==0?'assets/icons/icon-list-active.svg':'assets/icons/icon-list-inactive.svg'" />
        <p>
          List
        </p>
      </div>
      <div id="request-btn-gridview" [class]="selectedView==1?'active-viewtype': 'inactive-viewtype'" (click)="onClickViewType(1)">
        <img [src]="selectedView==1?'assets/icons/icon-grid-active.svg':'assets/icons/icon-grid-inactive.svg'" />
        <p>
          Grid
        </p>
      </div>      
    </div>
    <div id="request-list-newrequest">
      <ion-button (click)="onClickNewRequest()">Get Experts Review</ion-button>
    </div>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col [size]="gridcount" *ngFor="let request of arrMyRequests; let i = index;">
        <div class="request-item">
          <div class="request-item-header">
            <p>
              {{arrStatus[request.status]}}
            </p>
            <div *ngIf="request.status==0">
              <span (click)="onClickCompleteRequest()">
                Complete your request
              </span>
            </div>
          </div>
          <div class="request-item-body">
            <p>
              <b>Requested Date:</b> {{request.updatedAt | doctime: false}}
            </p>
            <p>
              <b>Category:</b> {{arrCategories[request.category]}}
            </p>
            <p>
              <b>Requestor:</b> {{request.user.username}}
            </p>
          </div>
          <div class="request-item-footer">
            <div *ngIf="request.status!==0">
              <ion-button color="orange" (click)="onClickViewDetailRequest(request._id)">
                View Detail
              </ion-button>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
