<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="onClickNavBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id="pf-user-image-container">
    <div id="pf-user-image-inner">
      <img src="assets/imgs/img-default-profile.svg" />
    </div>
  </div>

  <ion-item>
    <ion-label position="stacked">Username</ion-label>
    <ion-input type="text" [(ngModel)]="userInfo.username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">First Name</ion-label>
    <ion-input type="text" [(ngModel)]="userInfo.fname"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Last Name</ion-label>
    <ion-input type="text" [(ngModel)]="userInfo.lname"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input type="text" [(ngModel)]="userInfo.email"></ion-input>
  </ion-item>

  <!-- <ion-item (click)="onClickBirthDay()">
    <ion-label position="stacked">BOD</ion-label>
    <ion-label>
      {{userInfo.birthday}}
    </ion-label>
  </ion-item> -->
  <div (click)="onClickBirthDay()" id="profile-birthday">
    <p>BOD</p>
    <p>
      {{userInfo.birthday}}
    </p>
  </div>

  <div *ngIf="isShowCalendar">
    <calendar 
      [calendarMode]="calendar.mode" 
      [currentDate]="calendar.currentDate"
      (onCurrentDateChanged)="onCurrentDateChanged($event)" 
      startingDayWeek="1" 
      [showEventDetail]='false'
      class="profile-calendar"
      >
    </calendar>
  </div>

  <div id="pf-btn-save">
    <ion-button (click)="onClickBtnSave()">Update</ion-button>
  </div>
</ion-content>
