<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button fill="clear" (click)="onClickNavBack()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Expert Detail</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <div id="expert-detail-header">
    <div>
      <div id="expert-detail-avatar">
        <img [src]="expertInfo?.avatar" />
      </div>
    </div>
    <div>
      <p class="expert-detail-name">
        {{expertInfo?.fname + " " + expertInfo?.lname}}
      </p>
      <p>
        {{expertInfo?.title}}
      </p>
      <p>
        {{expertInfo?.headline}}
      </p>
      <p>
        Category: {{arrCategories[expertInfo?.category]}}
      </p>
    </div>
  </div>

  <div id="expert-detail-main">
    <div id="expert-detail-bio">
      <div id="expert-detail-bio-header">
        <ion-icon name="person"></ion-icon>
        <p class="expert-detail-header">
          Bio
        </p>
      </div>
      <p class="expert-detail-content-txt1">
        {{expertInfo?.expertbio}}
      </p>
    </div>
    
    <div id="expert-detail-education">
      <div id="expert-detail-education-header">
        <ion-icon src="assets/icons/icon-education.svg"></ion-icon>
        <p class="expert-detail-header">
          Education
        </p>
      </div>
      <div id="expert-detail-education-body">
        <p class="expert-detail-sub-header">
          School
        </p>
        <p class="expert-detail-content-txt1">
          {{expertInfo?.expertschool}}
        </p>

        <p class="expert-detail-sub-header">
          Residency
        </p>
        <p class="expert-detail-content-txt1">
          {{expertInfo?.expertresidency}}
        </p>

        <p class="expert-detail-sub-header">
          Internship
        </p>
        <p class="expert-detail-content-txt1">
          {{expertInfo?.expertinternship}}
        </p>
      </div>
    </div>
  </div>
</ion-content>
