
@media only screen and (min-width: 641px) {
    #l-page-container {
        margin: 10vh 20% 0 20%;
        box-shadow: 0 4px 4px #d2d2d2;
    }

    #l-page-header {
        background-color: #3780ff;
        color: white;
    }

    #l-page-main-content {
        padding: 16px;
    }
}

#l-page-header {
    text-align: center;
    font-size: 1.4em;
    margin: 0;
    padding: 16px 0;
}

#login-btn-container {
    padding: 2vh 0;
    div {
        margin-bottom: 2vh;
        width: 100%;
        text-align: center;
        ion-button {
            width: 70%;
        }
    }
}

#l-btnfb {
    ion-button {
        --background: var(--ion-color-fbbtn);
    }
}

#l-forgotornew-container {
    display: flex;
    padding: 16px;
    div {
        flex: 1;
    }
}

#l-forgotpwd, #l-newaccount {
    font-size: .9em;
    color: #808080;
    text-align: center;
}

#l-newaccount {
    text-align: left;
}

#l-forgotpwd {
    text-align: right;
}