@media only screen and (min-width: 641px) {
    #register-page-container {
        margin: 10vh 20% 0 20%;
        box-shadow: 0 4px 4px #d2d2d2;
    }

    #register-page-header {
        background-color: #3780ff;
        color: white;
    }

    #register-page-main-content {
        padding: 16px;
    }
}

#register-page-header {
    text-align: center;
    font-size: 1.4em;
    margin: 0;
    padding: 16px 0;
}

#register-page-avatar {
    text-align: center;
    img {
        width: 80px;
    }
}

#r-registered {
    font-size: .9em;
    color: #808080;
    text-align: center;
}

#r-btn-register {
    width: 100%;
    text-align: center;
    margin-top: 3vh;
    ion-button {
        width: 70%;
    }
}

#avatarSelector {
    display: none;
}