<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onClickNavBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id="register-page-container">
    <p id="register-page-header">Register</p>
    <div id="register-page-avatar-form">
      <div id="register-page-avatar">
        <img [src]="avatarImg" (click)="onClickAvatar()" />
      </div>
    </div>
    <input type="file" id="avatarSelector" accept="image/*" #avatarSelector (change)="onSelectAvatarImage()" />
    <div id="register-page-main-content">
      <form [formGroup]="registerForm">

        <!-- UserType -->
        <ion-item (click)="onSelectUserRole()">
          <ion-label>Type</ion-label>
          <ion-label id="label-usertype">{{userRole==0?"I'm Requestor":"I'm Expert"}}</ion-label>
          <ion-icon slot="end" name="arrow-dropdown"></ion-icon>
        </ion-item>

        <!-- Expert title -->
        <ion-item *ngIf="userRole == '1'">
          <ion-input type="text" formControlName="title" placeholder="Title"></ion-input>
        </ion-item>
        <ion-item *ngIf="!registerForm.controls.title.valid && registerForm.controls.role=='1' && submitAttempt">
          <p [class.invalid]="!registerForm.controls.title.valid && registerForm.controls.role=='1' && submitAttempt">
            Please enter a Title.</p>
        </ion-item>

        <!-- Expert Headline -->
        <ion-item *ngIf="userRole == '1'">
          <ion-input type="text" formControlName="headline" placeholder="Headline"></ion-input>
        </ion-item>
        <ion-item *ngIf="!registerForm.controls.headline.valid && registerForm.controls.role=='1' && submitAttempt">
          <p
            [class.invalid]="!registerForm.controls.headline.valid && registerForm.controls.role=='1' && submitAttempt">
            Please enter a Headline.</p>
        </ion-item>

        <!-- Expert Category -->
        <ion-item *ngIf="userRole == '1'">
          <ion-label>Category</ion-label>
          <ion-select formControlName="category">
            <ion-select-option value="0">Cardiology</ion-select-option>
            <ion-select-option value="1">Endocrinology</ion-select-option>
            <ion-select-option value="2">Infectious Diseases</ion-select-option>
            <ion-select-option value="3">Nephrology</ion-select-option>
            <ion-select-option value="4">Oncology & Hematology</ion-select-option>
            <ion-select-option value="5">Pediatrics</ion-select-option>
            <ion-select-option value="6">Psychiatry</ion-select-option>
            <ion-select-option value="7">Radiology</ion-select-option>
            <ion-select-option value="8">Dermatology</ion-select-option>
            <ion-select-option value="9">Gastroenterology</ion-select-option>
            <ion-select-option value="10">Internal Medicine</ion-select-option>
            <ion-select-option value="11">Neurology</ion-select-option>
            <ion-select-option value="12">Precision Oncology</ion-select-option>
            <ion-select-option value="13">Physical Med/Rehab</ion-select-option>
            <ion-select-option value="14">Pulmonary Medicine and Critical Care</ion-select-option>
            <ion-select-option value="15">Rheumatology</ion-select-option>
          </ion-select>
        </ion-item>

        <!-- Expert Information -->
        <!-- Bio -->
        <ion-item *ngIf="userRole == '1'">
          <ion-input type="text" formControlName="expertbio" placeholder="Bio"></ion-input>
        </ion-item>

        <!-- Education -->
        <ng-container *ngIf="userRole=='1'">
          <div class="margin-div"></div>
          <ion-item-divider>
            Education
          </ion-item-divider>
          <ion-item>
            <ion-input type="text" formControlName="expertschool" placeholder="School"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="text" formControlName="expertresidency" placeholder="Residency"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="text" formControlName="expertinternship" placeholder="Internship"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="text" formControlName="expertdegree" placeholder="Medical Degree"></ion-input>
          </ion-item>

          <div class="margin-div"></div>
          <ion-item-divider>
            Awards
          </ion-item-divider>
          <ion-item>
            <ion-input type="text" formControlName="expertaward" placeholder="Award"></ion-input>
          </ion-item>
        </ng-container>

        <div class="margin-div"></div>

        <!-- First Name -->
        <ion-item>
          <ion-input type='text' formControlName="fname" placeholder="First Name"></ion-input>
        </ion-item>
        <ion-item *ngIf="!registerForm.controls.fname.valid && submitAttempt">
          <p [class.invalid]="!registerForm.controls.fname.valid && submitAttempt">Please enter a First Name.</p>
        </ion-item>

        <!-- Last Name -->
        <ion-item>
          <ion-input type='text' formControlName="lname" placeholder="Last Name"></ion-input>
        </ion-item>
        <ion-item *ngIf="!registerForm.controls.lname.valid && submitAttempt">
          <p [class.invalid]="!registerForm.controls.lname.valid && submitAttempt">Please enter a Last Name.</p>
        </ion-item>

        <!-- Email -->
        <ion-item>
          <ion-input type='email' formControlName="email" placeholder="Email"></ion-input>
        </ion-item>
        <ion-item *ngIf="!registerForm.controls.email.valid && submitAttempt">
          <p [class.invalid]="!registerForm.controls.email.valid && submitAttempt">Please enter a valid Email Address.
          </p>
        </ion-item>

        <!-- Birthdate -->

        <div id="register-birthday" (click)="onClickBirthDay()">
          <p>
            Birth Day
          </p>
          <p>
            {{birthDay}}
          </p>
        </div>

        <div *ngIf="isShowCalendar">
          <ion-grid>
            <ion-row>
              <ion-col size="4">
                <div class="calendar-btn-back">
                  <ion-icon name="arrow-back" (click)="onBackCalendar()"></ion-icon>
                </div>
              </ion-col>
              <ion-col size="4">
                <p class="register-calendar-selected-date">
                  {{birthDay}}
                </p>
              </ion-col>
              <ion-col size="4">
                <div class="calendar-btn-next">
                  <ion-icon name="arrow-forward" (click)="onNextCalendar()"></ion-icon>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
  
          <calendar [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate"
            (onCurrentDateChanged)="onCurrentDateChanged($event)" startingDayWeek="1" [showEventDetail]='false'>
          </calendar>
        </div>

        <!-- Experienced Year for expert -->
        <ion-item *ngIf="userRole == '1'">
          <ion-input type="number" formControlName="experiencedyear" placeholder="Experienced Years"></ion-input>
        </ion-item>

        <!-- User Name -->
        <ion-item>
          <ion-input type="text" formControlName="username" placeholder="Username"></ion-input>
        </ion-item>
        <ion-item *ngIf="!registerForm.controls.username.valid && submitAttempt">
          <p [class.invalid]="!registerForm.controls.username.valid && submitAttempt">Please enter a Username.</p>
        </ion-item>

        <ion-item>
          <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
        </ion-item>
        <ion-item *ngIf="!registerForm.controls.password.valid && submitAttempt">
          <p [class.invalid]="!registerForm.controls.password.valid && submitAttempt">Please enter password.</p>
        </ion-item>

        <ion-item *ngIf="isExpert">Bank Detail</ion-item>
        <ion-item *ngIf="isExpert">License Documents</ion-item>
      </form>

      <p id="r-registered" (click)="onClickAlreadyRegisteredBtn()">
        Already Registered?
      </p>

      <ion-item lines="none">
        <ion-checkbox slot="start" (ionChange)="onChangeTermsAndConditions($event)"></ion-checkbox>
        <ion-label>Accept terms and conditions</ion-label>
      </ion-item>

      <div id="r-btn-register">
        <ion-button (click)="onClickSignupBtn()">Sign Up</ion-button>
      </div>
    </div>
  </div>
</ion-content>
