<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="onClickNavBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Our Experts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let expert of arrExperts; let i = index;" [size]="isMobile?'4': '2'">
        <div [class]="expert.isExpanded?'active-expert-profile expert-item': 'expert-item'" (mouseover)="onHighlightExpert(i)" (mouseout)="onLowlightExpert(i)" (click)="onClickExpert(i, expert)">
          <div class="expert-item-main">
            <div class="expert-avatar">
              <img [src]="expert.avatar" />
            </div>
          </div>
          <div [class]="isMobile?'expert-item-extra relative-position': 'expert-item-extra absolute-position'">
            <ng-container *ngIf="isMobile; else desktopView">
              <p>
                {{expert.fname + " " + expert.lname}}
              </p>
              <p class="italic-font">
                {{arrCategories[expert.category]}}
              </p>
              <p class="italic-font">
                {{expert.expertdegree}}
              </p>
              <p class="italic-font">
                {{expert.expertschool}}
              </p>
              <!-- <div class="expert-item-extra-btn-detail">
                <div (click)="onClickViewDetailExpert($event, expert)">
                  <ion-icon name="person"></ion-icon>
                  <p>
                    View Profile
                  </p>
                </div>
              </div> -->
            </ng-container>
            <ng-template #desktopView let-i="i">
              <p class="expert-name" *ngIf="!expert.isExpanded">
                {{expert.fname + " " + expert.lname}}
              </p>
              <ng-container *ngIf="expert.isExpanded">
                <p>
                  {{expert.fname + " " + expert.lname}}
                </p>
                <p class="italic-font">
                  {{arrCategories[expert.category]}}
                </p>
                <p class="italic-font">
                  {{expert.expertdegree}}
                </p>
                <p class="italic-font">
                  {{expert.expertschool}}
                </p>
                <!-- <div class="expert-item-extra-btn-detail">
                  <div (click)="onClickViewDetailExpert($event, expert)">
                    <ion-icon name="person"></ion-icon>
                    <p>
                      View Profile
                    </p>
                  </div>
                </div> -->
              </ng-container>
            </ng-template>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
