ion-footer {
    ion-title {
        text-align: center;
    }
}

#request-list {
    margin: 16px;
}


ion-list {
    padding-left: 40px;
    div {
        p {
            margin: 2px 0;
            font-size: .8em;
        }
    }
}

.request-item {
    box-shadow: 0 2px 12px #dcdcdc;
    margin-bottom: 2vh;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
}

.request-item-header {
    padding: 16px;
    background-color: #eaeaea;
}

.request-item-body {
    padding: 16px;
    p {
        margin: 8px 0;
    }
}

.request-item-footer {
    padding: 0 16px 16px;
    text-align: right;
    div {
        span {
            padding: 4px 12px;
            background-color: #2b7fea;
            border-radius: 4px;
            font-size: .8em;
            color: white;
            box-shadow: 0 2px 4px #888888;
            margin-left: 16px;
        }
    }
}
