<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="onClickNavBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Requests</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClickFilter()">
        <ion-icon src="assets/icons/icon-custom-filter.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="request-list">
    <div *ngFor="let request of arrRequests; let i = index;" class="request-item" (click)="onClickRequest(i)">
      <div class="request-item-header">
        <div>
          <span>
            {{arrStatus[request.status]}}
          </span>
        </div>
      </div>
      <div class="request-item-body">
        <p><b>Requested Date:</b> {{request.createdAt | doctime: false}}</p>
        <p><b>Category:</b> {{arrCategories[request.category]}}</p>
        <p><b>Requestor:</b> {{request.user.fname + " " + request.user.lname}}</p>
      </div>
      <div class="request-item-footer">
        <div>
          <span (click)="onClickViewDetails(request)">View Details</span>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar (click)="onClickReviewedCases()">
    <ion-title>Reviewd Cases</ion-title>
  </ion-toolbar>
</ion-footer>
